
<div class=" split left">

  <div class="container "style="padding:20px ;border:solid 2px rgba(70, 67, 67,0.3);border-radius: 30px;">
    <p><span style="font: italic small-caps bold 26px/2 cursive;">Add category
      </span></p>
    <table>
      <tr>
        <td style="width:70%;"><form class="example-form"
            [formGroup]="categoryForm">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Category Name</mat-label>
              <input
                matInput
                placeholder="CategoryName"
                formControlName="name"
                />
            </mat-form-field>
          </form>
        </td>
        <td style="width:10% ;">
          <button mat-raised-button color="primary" (click)="addCategory()"
            style="height:50px ;margin-bottom:16px;background-color: rgba(190,181, 181,0.7);;">Submit</button>
        </td>
      </tr>
    </table>
    <div class="container">
      <mat-grid-list cols="3" rowHeight="50px">
        <mat-grid-tile *ngFor="let row of category"> 
          <div class="container" style="padding-left:20px ;border:solid 1px rgba(70, 67, 67,0.3);border-radius: 30px;background-color:  rgba(190,181, 181,0.7);">
         {{row.name}}
      </div>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </div>
</div>
<div class="split right">
  <div class="container " style="padding:20px;border:solid 2px rgba(70, 67, 67,0.3);border-radius: 30px;">
    <p><span style="font: italic small-caps bold 26px/2 cursive;">Add property</span></p>
    <table>
      <tr>
        <td style="width:90%;"><form class="example-form"
            [formGroup]="categoryForm">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Property Name</mat-label>
              <input
                matInput
                placeholder="PropertyName"
                formControlName="category"
                />
            </mat-form-field>
          </form>
        </td>
        <td style="width:10% ;">
          <button mat-raised-button color="primary" (click)="addCategory()"
            style="height:50px ;margin-bottom:15px;background-color: rgba(190,181, 181,0.7);;">Submit</button>
        </td>
      </tr>
    </table>
    <div class="container">
      <mat-grid-list cols="3" rowHeight="50px">
        <mat-grid-tile *ngFor="let row of category"> 
          <div class="container" style="padding-left:20px ;border:solid 1px rgba(70, 67, 67,0.3);border-radius: 30px;background-color:  rgba(190,181, 181,0.7);">
         {{row.name}}
      </div>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </div>
</div>
