  .split{
    margin: 0;
   height: 100%;
   position :fixed;

}
.left{
   left: 0;
   width: 50%;
   padding: 90px;

}
.right{
   right: 0;
   width: 50%;
   padding:90px;
}
.card{
    width:800px ;
    height: 100%;

}
.example-full-width {
    width: 100%;
  }
  
