<div class="container">
  <mat-toolbar>
    <button
      mat-raised-button
      style="color: rgba(12, 12, 63); margin-top: 30px; margin-bottom: 30px"
      routerLink="../../">
      <i class="fa-solid fa-chevron-left"></i> Back
    </button>
  </mat-toolbar>
  <div class="vide" *ngIf="size == 0">
    <h3>No history...</h3>
  </div>
  <main *ngFor="let row of history">
    <div class="history">
      <div class="top">
        <table>
          <tr>
            <td style="width:280px ;"> <strong>Res :</strong>{{row.created_at |
              date }}<strong>/ Lib :</strong>{{row.date_lib }} </td>
            <td><strong>| Action : from </strong>{{row.action_type =='take' ?
              'Return': 'Take' }} <strong>to</strong> {{ row.action_type
              =='return' ? 'Return': 'Take' }}</td>
          </tr>
        </table>
      </div>
      <div class="buttom">

        <p><strong>Equipment name : </strong> {{ row.equipment.ref}}/
          {{row.equipment.label}} <strong>| Username : </strong>
          {{row.user.username}} |
          <strong>Description :</strong> {{ row.description }}</p>
      </div>

    </div>
