<div class="container">

    <mat-toolbar>
        <span class="example-spacer"></span>
        <button mat-raised-button style="color: rgba(12, 12, 63); margin-top: 30px; margin-bottom: 30px; "
            routerLink="../../">
            <i class="fa-solid fa-chevron-left"></i> Back
        </button>
    </mat-toolbar>
    <main *ngFor="let row of history">

        <mat-card class="pos" mat-align-card="center"
            style="background-color:  rgba(236, 149, 35, 0.486);margin:5px ;height:180px">
            <mat-card-title>Equipment name : {{ row.equipment.ref}}/ {{ row.equipment.label}}</mat-card-title>
            <mat-card-subtitle>Action :{{ row.action_type }} </mat-card-subtitle>
            <mat-card-content>
                Username : {{row.user.username}}<br>
                Description :{{ row.description }} <br>
            </mat-card-content>
            <div mat-dialog-actions [align]="'end'">
                Res:{{row.created_at | date }}/ Lib:{{row.date_lib| date }}</div>

        </mat-card>
    </main>
</div>