<mat-tab-group mat-align-tabs="center" style="margin-top: 20px;    display: flex;
"  [selectedIndex]="tabIndex">
  <mat-tab label="Users" class="pos1" >
    <div class="size">
      <app-userlist></app-userlist>
    </div>
  </mat-tab>
  <mat-tab label="Equipment " class="pos1" >
    <div>
      <router-outlet></router-outlet>
    </div>
  </mat-tab>
  <mat-tab label="Projects " class="pos1">
    <div>
      <app-list-projects>
      </app-list-projects>
    </div>
  </mat-tab>
  <mat-tab label="Settings " class="pos1">
    <div>
      <app-dashboard-settings></app-dashboard-settings>
    </div>
  </mat-tab>
</mat-tab-group>