app-header{
    position:fixed;
    width:100%;
    height: 4rem;
    z-index: 2;
}
main{
    position: absolute;
    width:100%;
    top:4rem;
    z-index:1; 
    margin-top: 2px;
}
app-side-nav{
    position: fixed;
    left:0rem;
    width:250px;
    height: calc(100vh - 4rem);
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    background-color: rgba(12, 12, 63);
    border-top: 1px solid;
    overflow-x:hidden ;
    white-space: nowrap;
    transition: width 250ms ease-in ;
}
app-header{
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);

}
.display-area{
    position: absolute;
    left:250px;
    width:calc(100%- 250px);
    transition:left 250ms ease-in, width 250ms ease-in ;

}
.display-area-shrink{
    position: absolute;
    left:250px;
    width:calc(100%- 250px);
}
.app-side-nav-open{ 
     width:250px;

}

.pos{
    margin-left:250px;
}