<div class="container">
  <mat-tab-group mat-align-tabs="center" [selectedIndex]="tabIndex">
    <div *ngIf="role == 'USER'; else Manager">
      <mat-tab label="Member " class="pos1">
        <app-project-member-list></app-project-member-list>
      </mat-tab>
    </div>
    <ng-template #Manager
      ><mat-tab label="Manager" class="pos1">
        <app-project-manager-list></app-project-manager-list>
      </mat-tab>
      <mat-tab label="Member " class="pos1">
        <app-project-member-list></app-project-member-list> </mat-tab
    ></ng-template>
  </mat-tab-group>
</div>
