<div class="side-nav-content border-white">
    <ul class="nav-list" >
 
      <li class="nav-list-item">
          <span>
            <a routerLink="./profile"> <i class="fa-solid fa-user "></i> Profile</a>
          </span>
        </li>
        <li class="nav-list-item">
         
          <span>
            
            <a routerLink="./"><i class="fa-solid fa-house "></i> Dashboard</a>
          </span>
        </li>
        <li class="nav-list-item">
          <span>
            <a routerLink="./projects"> <i class="fa-solid fa-rectangle-list"></i> Projects</a>
          </span>
        </li>
        <li class="nav-list-item">
         
          <span>
            <a routerLink="./history"> <i class="fa-solid fa-clock-rotate-left"></i>history</a>
          </span>
        </li>
    </ul>
</div>