 <div class="maindiv" *ngFor="let project of memberProjects.projects">
  <mat-card class="pos" mat-align-card="center" style="color: white; font:
    italic small-caps bold 26px/2 cursive; ">
    <mat-card-title>{{ project.name}}</mat-card-title>
    <mat-card-subtitle style="color: white;"> Project Manager : {{
      project.manager.username}} </mat-card-subtitle>
    <mat-card-actions>
      <table>
        <tr>

          <td style="width:80%;">
          </td>
          <td>
            <button mat-raised-button color="'primary'" type="submit" style="
              background-color: rgba(12, 12, 63);color:white"
              routerLink="./member/members/{{ project.id }}">
              <i class="fa-regular fa-user"></i> View members
            </button>
          </td>
          <td>

            <button mat-raised-button color="'primary'" type="submit" style="
              background-color: rgba(12, 12, 63);color:white"
              routerLink="./member/equipment/{{ project.id }}">
              <i class="fa-solid fa-layer-group"></i> Reserve equipment
            </button>
          </td>
        </tr>
      </table>
    </mat-card-actions>
  </mat-card>
</div>
