 
<div class="maindiv" *ngFor="let project of memberProjects" style="margin: 25px;">

    <mat-card class="pos" mat-align-card="center" >
      <mat-card-title>{{ project.name}}</mat-card-title>
      <mat-card-subtitle> Project Manager :  </mat-card-subtitle>
      <mat-card-actions >
        <table >
    <tr>
      <td style="width:10%;">
       
       <mat-card-subtitle style="margin-right:5px"><i class="fa-regular fa-user"></i> 0 members</mat-card-subtitle>
       <td style="width:80%;" >
        <mat-card-subtitle><i class="fa-solid fa-layer-group"></i> 0 equipment</mat-card-subtitle>
       </td>
       <td >
        <button mat-raised-button color="'primary'" type="submit" style=" background-color: rgba(12, 12, 63);color:white" routerLink="./members/{{ project.id }}" >
             Manage members 
          </button>
       </td>
       <td >
        
        <button mat-raised-button color="'primary'" type="submit"  style=" background-color: rgba(12, 12, 63);color:white" routerLink="./equipment/{{ project.id }}" >
             Manage equipment 
          </button>
       </td>
    </tr>
    </table>
  </mat-card-actions>
    </mat-card>
  </div>
