<div class="container">
  <h1 style="margin-left: 10px">
    Historique du projet <strong>{{ history[0].project.name }}</strong
    >:
  </h1>
  <main *ngFor="let row of history">
    <mat-card
      class="pos"
      mat-align-card="center"
      [ngStyle]="{
        'background-color':
          row.action_type == 'take'
            ? 'rgba(236, 149, 35, 0.486)'
            : 'rgba(35, 89, 236, 0.486)'
      }"
      style="margin: 5px; height: 14em"
    >
      <mat-card-title
        >Equipment name : {{ row.equipment.label }}</mat-card-title
      >
      <mat-card-subtitle>Réference : {{ row.equipment.ref }}</mat-card-subtitle>
      <mat-card-subtitle
        >Action : <strong>{{ row.action_type }}</strong>
      </mat-card-subtitle>
      <mat-card-content>
        Username : <strong>{{ row.user.username }}</strong
        ><br />
        Description : <strong>{{ row.description }}</strong>
        <div mat-dialog-actions [align]="'end'">
          {{ row.created_at | date }}
        </div>
      </mat-card-content>
    </mat-card>
  </main>
</div>
