.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  
  td {
    padding-right: 8px;
  }
  .example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    align-items: flex-start;
  }
  
  .example-radio-button {
    margin: 5px;
  }
  button.example-custom-date-class{
    background :orange;
    border-radius:100%;
  }
  .example-header {
    display: flex;
    align-items: center;
    padding: 0.5em;
  }
  
  .example-header-label {
    flex: 1;
    height: 1em;
    font-weight: 500;
    text-align: center;
  }
  mat-toolbar{
    background-color: white;
  }
  .example-spacer {
    flex: 1 1 auto;
  }


.title {
    font: italic small-caps bold 26px/2 cursive;
    position: relative;
    float: right;
    letter-spacing: 4px;
    text-shadow: 1px 1px #e78a10;
    margin-right: 115px;
    transform: scaleY(1);
    color: rgba(12, 12, 63)
  }
  