<div class="container" style="margin: top 40px;">

    <div class="vide" *ngIf="size==0">
        <h3>No hisotry...</h3>

    </div>
    <main *ngFor="let row of history">
        <div class="history">
            <div class="top">
                <h3> {{row.created_at | date }} <strong>| Action :</strong>{{ row.action_type }}</h3>
            </div>
            <div class="buttom">
                <p> <strong>Equipment name :</strong>  {{ row.equipment.ref}}/
                    {{row.equipment.label}}<strong> | Description :</strong> {{ row.description }}</p>
            </div>

        </div>

    </main>

</div>