
<h2>Add Equipment</h2>
<form class="example-form" [formGroup]="equipmentForm">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Label</mat-label>
    <textarea matInput formControlName="label"></textarea>
  </mat-form-field>
  <mat-radio-group formControlName="prop_client" aria-labelledby="example-radio-group-label" class="example-radio-group">
    <mat-label>Client Equipment</mat-label>

    <mat-radio-button class="example-radio-button" value="true">
      yes
    </mat-radio-button>
    <mat-radio-button class="example-radio-button" value="false">
      no
    </mat-radio-button>
  </mat-radio-group>
  <!--<label id="example-radio-group-label">Status</label>
      <mat-radio-group
        aria-labelledby="example-radio-group-label"
        class="example-radio-group"
        >
        <mat-radio-button class="example-radio-button"  value="true">
         true
        </mat-radio-button>
        <mat-radio-button class="example-radio-button"  value="false">
            false
           </mat-radio-button>
      </mat-radio-group>-->
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Defaults</mat-label>
    <textarea formControlName="defaults" matInput placeholder="defaults"></textarea>
  </mat-form-field>


  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Description</mat-label>
    <textarea formControlName="description" matInput placeholder="description"></textarea>
  </mat-form-field>
  <mat-radio-group formControlName="is_calibrated"  aria-labelledby="example-radio-group-label" class="example-radio-group">
    <mat-label>calibrated equipment ? </mat-label>

    <mat-radio-button class="example-radio-button" value="true">
      yes
    </mat-radio-button>
    <mat-radio-button class="example-radio-button" value="false">
      no
    </mat-radio-button>
  </mat-radio-group>
  <mat-form-field appearance="fill">
    <mat-label>Choose a calibrate date</mat-label>
    <input  formControlName="calibrating_date" matInput [matDatepicker]="picker">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

</form>
<div mat-dialog-actions [align]="'end'">
  <button mat-raised-button mat-dialog-close>close</button>
  <button mat-raised-button color="primary" (click)="addEquipment()">{{actionBtn}}</button>

</div>