<div class="pos">
  <form class="example-form" [formGroup]="equipmentForm">
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Label</mat-label>
      <textarea matInput formControlName="label"></textarea>
    </mat-form-field>


    <mat-form-field class="example-full-width" *ngIf="false" appearance="outline">
      <mat-label>availability</mat-label>
      <textarea matInput formControlName="availability"></textarea>
    </mat-form-field>

    <table  cellspacing="2">
      <tr>
        <td>
          <mat-form-field  [ngStyle]="{'width': equipmentForm.value.category == 'other' ? '250px' : '500px'}" appearance="outline">
            <mat-label>Category</mat-label>
            <mat-select formControlName="category" placeholder="role">
              <mat-option value="card" selected>Card</mat-option>
              <mat-option value="cable" selected>Cable</mat-option>
              <mat-option value="usb">USB</mat-option>
              <mat-option value="other">Other</mat-option>
            </mat-select>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field  appearance="outline" *ngIf='equipmentForm.value.category == "other"'>
            <mat-label>Other</mat-label>
            <textarea matInput formControlName="other"></textarea>
          </mat-form-field>
        </td>
      </tr>
    </table>
    <table  cellspacing="2">
      <tr>
        <td>
          <mat-form-field [ngStyle]="{'width': equipmentForm.value.status == 'uncompliant state' ? '250px' : '500px'}" appearance="outline">
            <mat-label>Status</mat-label>
            <mat-select formControlName="status" placeholder="role">
              <mat-option value="compliant state" selected>Compliant state</mat-option>
              <mat-option value="uncompliant state">Uncompliant state</mat-option>

            </mat-select>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field  appearance="outline" *ngIf='equipmentForm.value.status == "uncompliant state"'>
            <mat-label>details</mat-label>
            <textarea matInput formControlName="descriptionStatus"></textarea>
          </mat-form-field>
        </td>
      </tr>
    </table>

    <!--<mat-radio-group formControlName="prop_client" aria-labelledby="example-radio-group-label"
      class="example-radio-group">
      <mat-label>Client Equipment</mat-label>

      <mat-radio-button class="example-radio-button" value="true">
        yes
      </mat-radio-button>
      <mat-radio-button class="example-radio-button" value="false">
        no
      </mat-radio-button>
    </mat-radio-group>-->
    
    <mat-slide-toggle formControlName="prop_client">Client Equipment</mat-slide-toggle>
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Description</mat-label>
      <textarea formControlName="description" matInput placeholder="description"></textarea>
    </mat-form-field>
    <table  cellspacing="0">
      <tr>
        <td>
        <!--  <mat-radio-group formControlName="is_calibrated" aria-labelledby="example-radio-group-label"
      class="example-radio-group">

      <mat-label>calibrated equipment ? </mat-label>

      <mat-radio-button class="example-radio-button" value="true">
        yes
      </mat-radio-button>
      <mat-radio-button class="example-radio-button" value="false">
        no
      </mat-radio-button>
    </mat-radio-group>-->
    <mat-slide-toggle formControlName="is_calibrated">calibrated equipment</mat-slide-toggle>

        </td>
        <td>
         
    <mat-form-field appearance="outline" style="width:300px">
      <mat-label>Choose a calibrate date</mat-label>
      <input formControlName="calibrating_date" matInput [matDatepicker]="picker">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
        </td>
      </tr>
    </table>

   

  </form>
  <div mat-dialog-actions [align]="'end'">
    <button mat-raised-button mat-dialog-close>cancel</button>
    <button mat-raised-button color="primary" (click)="addEquipment()">{{actionBtn}}</button>

  </div>
</div>