 <div class="maindiv" *ngFor="let project of managedProjects" style="margin: 25px;">
    <mat-card class="pos" mat-align-card="center" >
    <mat-card-title>{{ project.name}}</mat-card-title>
  
    <mat-card-actions >
      <table >
  <tr>
     <td style="width:80% ;"></td>
     <td>
      <button mat-raised-button color="'primary'" type="submit" style=" background-color: rgba(12, 12, 63);color:white" routerLink="./members/{{ project.id }}" >
        <i class="fa-regular fa-user"></i>   Manage members 
        </button>
     </td>
     <td>
      <button mat-raised-button color="'primary'" type="submit"  style=" background-color: rgba(12, 12, 63);color:white" routerLink="./equipment/{{ project.id }}" >
          <i class="fa-solid fa-layer-group"></i>  Manage equipment 
        </button>
     </td>
  </tr>
  </table>
</mat-card-actions>
  </mat-card>
</div>