<div class="side-nav-content border-white">
  <ul class="nav-list">
    <li class="nav-list-item">
      <i class="fa-solid fa-user"></i>
      <span>
        <a routerLink="/profile">Profile</a>
      </span>
    </li>
    <li class="nav-list-item">
      <i class="fa-solid fa-house"></i>
      <span>
        <a routerLink="/dashboard">Dashboard</a>
      </span>
    </li>
    <li class="nav-list-item">
      <i class="fa-solid fa-clock-rotate-left"></i>
      <span>
        <a href="#">History</a>
      </span>
    </li>
    <li class="nav-list-item">
      <i class="fa-solid fa-briefcase"></i>
      <span>
        <a routerLink="/projects">Projects</a>
      </span>
    </li>
  </ul>
</div>
