     <h1>Reserve equipment</h1>
    <form class="example-form" [formGroup]="equipmentForm">
     
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Description</mat-label>
        <input
        formControlName="description" matInput placeholder="description"
        />
      </mat-form-field><br> 

      <mat-form-field appearance="outline"   >
       <mat-label>Choose a reservation date</mat-label>
       <input formControlName="date_res" matInput [matDatepicker]="picker">
       <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
       <mat-datepicker #picker></mat-datepicker>
       </mat-form-field><br>

         <mat-form-field appearance="outline"   >
          <mat-label>Choose a liberating date</mat-label>
          <input formControlName="date_lib" matInput [matDatepicker]="picker">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
       
    </form>
    <div mat-dialog-actions [align]="'end'">
      <button mat-raised-button mat-dialog-close>Cancel</button>
      <button mat-raised-button color="primary" (click)="addEquipmentProject()">Submit</button>
  
    </div>
    

 