<nav class="navbar navbar-expand  px-2">
    <div class="side-nav-button p-2 me-3 text-light" (click)="SideNavToggle()">
        <i class="fa-solid fa-bars"></i>
    </div>
    <div class="navbar-brand px-4"> <img src="./../../../../assets/images/logo-sofia-tech-final-01.png" alt=""></div>

    <form class="d-flex me-5 a1">
        <input class="form-control me-2 a11" type="search" placeholder="search">
        <button class="btn btn-outline-light log1 " type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
    </form>
    <div class="navbar-collapse">

    </div>
    <div class="profile-logo dropstart a2">
    <button class="btn btn-outline-light log">Logout</button>      
    </div>
</nav>