<form class="example-form" [formGroup]="passwordResetForm">
    {{ message }}
    <mat-form-field appearance="outline">
      <mat-label>Enter your old password</mat-label>
      <input
        matInput
        formControlName="oldpassword"
        [type]="hide ? 'password' : 'text'"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
      >
        <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Enter your new password</mat-label>
      <input
        matInput
        formControlName="newpassword"
        [type]="hide ? 'password' : 'text'"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
      >
        <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Confirm password</mat-label>
      <div *ngIf="!passwordsMatch">
        <sub style="color: red">Passwords don't match.</sub>
      </div>
      <input
        matInput
        formControlName="newpasswordconfirm"
        [type]="hide ? 'password' : 'text'"
        (change)="checkConfirm($event)"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
      >
        <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
    </mat-form-field>
  </form>
  <div mat-dialog-actions [align]="'end'">
    <button mat-raised-button mat-dialog-close>Close</button>
    <button mat-raised-button color="primary" (click)="submit()">Save</button>
  </div>
  
  