<div class="container">

  <mat-card class="pos " mat-align-card="center">
    <mat-card-title>{{ user.username }}</mat-card-title>
    <mat-card-subtitle> {{ user.role }}</mat-card-subtitle>
    <mat-card-content>
      <i class="fa-solid fa-envelope"></i>
      {{ user.email }}</mat-card-content
    >
    <mat-card-actions align="end">
      
        <button mat-menu-item (click)="usernameTrig()" style="border-color: white ;">
          Username <i class="fa-solid fa-pen"></i>
        </button>
        <button mat-menu-item (click)="passwordTrig()"  style="border-color: white ;">
          Password <i class="fa-solid fa-pen"></i>
        </button>
      
    </mat-card-actions>
  </mat-card>


      <div *ngFor="let equip of equipments">
        
        <mat-card class="pos" style=" background-color:rgb(216, 216, 216);">
    <mat-card-content style="margin:3px ">
        <mat-card-title>{{ equip.ref }}</mat-card-title>
        <mat-card-subtitle> {{ equip.label}}</mat-card-subtitle>
        <mat-card-actions align="end">
          <button mat-icon-button (click)="removeEquipmentfromProject(equip)" matTooltip="liberate equipment" >
            <i class="fa-solid fa-trash"></i>  
            </button>
        </mat-card-actions>
      
    </mat-card-content>
  </mat-card></div></div>
 
